<!DOCTYPE html>
<html lang="en-US">
<head>
    <?php wp_head(); ?> <!-- Include this line -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nichlas Halberg Madsen</title>
</head>
<body id="top">
<header>
    <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
            <div class="container">
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link smooth-scroll" href=index.html>Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="page-content">
    <div>
        <div class="profile-page">
            <div class="wrapper">
                <div class="page-header page-header-small" filter-color="green">
                    <div class="page-header-image" data-parallax="true"
                         style="background-image: url('images/cc-bg-1.jpg')"></div>
                </div>
            </div>
        </div>
        <div class="section" id="links">
            <div class="container">
                <div class="card" data-aos="fade-up" data-aos-offset="10">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">Links til projekter</div>
                                <ul class="navbar-nav">
                                    <div class="h4">Kommunernes ydelsessystem</div>
                                    <li class="nav-item"><a class="nav-link smooth-scroll"
                                                            href=https://share-komm.kombit.dk/P020/Delte%20dokumenter/Praesentation_Kommunernes%20Ydelsessystem.pdf>Kommunernes
                                        Ydelsessytem (Dokumentation)</a></li>
                                    <div class="h4">Danish Debt Collection Agency (Gældsstyrelsen)</div>
                                    <li class="nav-item"><a class="nav-link smooth-scroll"
                                                            href=https://gaeldst.dk/publikationer/gaeldsstyrelsen-fordobler-provenu-i-nyt-inddrivelsessystem>Implementerings
                                        center for gældsindrivelse (Dokumentation)</a></li>
                                    <li class="nav-item"><a class="nav-link smooth-scroll"
                                                            href=https://gaeldst.dk/borger/om-gaeld-til-inddrivelse/flytning-af-gaeldsposter-til-nyt-inddrivelsessystem>Implementerings
                                        center for gældsindrivelse (Artikel)</a></li>
                                    <li class="nav-item"><a class="nav-link smooth-scroll"
                                                            href=https://gaeldst.dk/nyheder/gaeldsstyrelsen-bruger-nyt-inddrivelsessystem-til-at-varsle-150000-skyldnere-om-loenindeholdelse>Implementerings
                                        center for gældsindrivelse (Artikel)</a></li>
                                    <div class="h4">Den røde tråd</div>
                                    <li class="nav-item"><a class="nav-link smooth-scroll"
                                                            href=https://musicon.dk/musicon/den-roede-traad-baeredygtige-boliger>Den
                                        røde tråd (Artikel)</a></li>
                                    <div class="h4">Cityringen</div>
                                    <li class="nav-item"><a class="nav-link smooth-scroll"
                                                            href=https://m.dk/vi-bygger-nye-linjer/m4-til-sydhavn/>Cityringen
                                        (Artikel)</a>
                                    </li>
                                    <div class="h4">Praktik i Rambøll</div>
                                    <li class="nav-item"><a class="nav-link smooth-scroll"
                                                            href=https://www.bane.dk/da/Presse/Pressemeddelelser/Fornyelse_Valby_Svanemoellen>Valby
                                        - Svanemøllen S-togs projekt (Pressemeddelse)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container text-center">
        <a class="cc-linkedin btn btn-link"
           href=https://www.linkedin.com/in/nichlas-halberg-madsen-574115a1/><i
                class="fa fa-linkedin fa-2x"
                aria-hidden="true"
                title="Connect with me on LinkedIn"></i></a>
    </div>
    <div class="h4 title text-center">Nichlas Halberg Madsen</div>
    <div class="text-center text-muted">
    </div>
</footer>
</body>
</html>
